@import '../../constants/root.css';

.bookGames{
    height: 270px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}
.gameContainer{
    height: 100%;
    width: 430px;
    background-color: var(--color-card);
    display: flex;
    justify-content: center;

}

.sprintGame .active,
.audioCallGame .active,
.sprintGame:hover,
.audioCallGame:hover {
    height: 100%;
    width: 430px;
    background-color: var(--color-card);
    border: solid 10px var(--accent-color);
}
.sprintGame{
    margin-left: 35px;
}

.titleGame{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: var(--font-size-l);
    color: var(--second-text-color);
    margin: auto 0;    
}