@import '../../constants/root.css';

.bookGames{
    height: 270px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}
.gameContainer{
    height: 100%;
    width: 430px;
    background-color: var(--color-card);
    display: flex;
    justify-content: center;

}


.sprintGame{
    margin-left: 35px;
}

.titleGame{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: var(--font-size-l);
    color: var(--inactive-text-color);
    margin: auto 0;    
}
.titleGame:hover {
    background-color: #FFFFFF;
    border: solid 10px var(--accent-color);
    color: var(--second-text-color);
}