.header {
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: var(--font-size-l);
  text-align: center;
  color: var(--main-text-color);
}

.nav__container {
  display: flex;
  align-items: center;
}

.nav__item {
  width: 110px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: var(--font-size-xs);
  align-items: center;
  text-align: center;
  color: var(--main-text-color);
}

.nav__item--active{
  color: var(--accent-color);
  font-weight: bold;
  text-decoration: underline;
}
.nav__item:hover{
  font-weight: bold;
}

.nav__button{
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 40px;
  border: 2px solid var(--accent-color);
}

.nav__button:hover {
  background-color: var(--accent-color);
  
  
}

.nav__button .nav__button--active{
  background-color: var(--accent-color);
  color: var(--main-text-color);
  font-weight: bold;
}
