@import '../../constants/root.css';

.registrationFields {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit;
}
.registrationTitle {
    font-size: var(--font-size-m);
    font-family:  var(--main-font-family);
    padding-bottom: 60px;
}
.registrationForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inputName,
.inputEmailRegistration,
.inputPasswordRegistration,
.submitBtnRegistration{
    box-sizing: border-box;
    margin: 0;
    padding: 17px 25px;
    width: 350px;
    height: 60px;
    font-family: inherit;
    font-size: var(--font-size-s);
    color: var(--second-text-color);
    background-color: transparent;
    background-clip: padding-box;
    border: 2px solid var(--second-text-color);

}
.inputName,
.inputEmailRegistration,
.inputPasswordRegistration {
    margin-bottom: 30px;
}
.inputName:focus,
.inputEmailRegistration:focus,
.inputPasswordRegistration:focus {
    outline: 0;
    box-shadow: 0 0 0 2px var(--accent-color);
}
.inputName::placeholder,
.inputEmailRegistration::placeholder,
.inputPasswordRegistration::placeholder {
    color: var(--main-font-family);
}
.submitBtnRegistration:hover {
    font-weight: bold;
    color: var(--main-text-color);
    background-color: var(--accent-color);
    border: 2px solid var(--accent-color);
}

.textToSingIn {
    height: 60px;
    margin: auto 0;
    display: flex;
}
.linkToSingIn {
    padding-left: 5px;
    text-decoration: none;
    font-family: inherit;
    font-size: var(--font-size-s);
    font-weight: bold;
    color: var(--main-text-color);
    cursor: pointer;
}
.linkToSingIn:hover {
    text-decoration: underline;
}
