.correctWordContainer, .uncorrectWordContainer{
  display: block;
  margin-left: 0, 10px;
  font-size: 16px;
  color: #97D9E9;
}

.correctWords, .uncorrectWords {
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 100%;
color: #FFFFFF;
margin: 20px;
padding-bottom: 10px;
}
.correct_word, .uncorrect_word {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 120%;
  color: #FFFFFF;
  margin: 10px;
  
  }

.modal_result{
  position: absolute;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: left;
  width: 720px;
  height: 370px;
  background: var(--main-bg-color);
  overflow: auto;
}
.button__container{
  display: block;
  justify-content: space-between;
  margin-top:55px;
  margin-bottom:55px;
}

.button__no, .button__yes{
width: 120px;
height: 40px;
margin-right: 50px;
border:2px solid;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 130%;
letter-spacing: 0.06em;
color: #FFFFFF;
background-color: transparent;
}
.button__yes{
  border-color: #97D9E9;
}
.button__no{
  border-color: #FF8855;
}
.button__yes:hover{
border: 4px solid #97D9E9
}
.button__no:hover{
  border: 4px solid #FF8855
  }