
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 1024px;
  margin: 0 auto;
  background-color: var(--main-bg-color);
  color: #fff;
  font-family: var(--main-font-family);
  padding: 0 60px;
  position: relative;
}

main {
  
}


